* {
  font-family: Raleway;
  font-style: normal;
}
.inputFilter {
  border: 1px solid #6563fc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 200px;
  height: 20vh;
  width: 60vw;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  position: relative;
  align-content: center;
  justify-content: center;
}
input,
select {
  border: 1px solid #e7e7e7;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 300px;
  text-align: center;
  margin: 10px;
}
input:first-child {
  grid-column: 1/6;
}
input:nth-of-type(2) {
  grid-row: 2;
}
input:nth-of-type(3) {
  grid-row: 2;
  grid-column: 4;
}
select {
  width: 100px;
  grid-row: 3;
}
